@import "tailwindcss";

body {
  background: #0d0d0d;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.light body {
  @apply text-gray-900 bg-gray-100;
}

/* Make every section centered and clean */
section {
  @apply max-w-4xl px-6 py-20 mx-auto text-center;
}

.box {
  @apply p-8 transition-all border shadow-xl rounded-2xl;

  /* Dark mode */
  @apply dark:bg-[#0f1b2b] dark:border-white/10 dark:text-gray-300;

  /* Light mode */
  @apply bg-[#f1f5f9] border-black/10 text-gray-700;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientFlow 6s ease infinite;
}

drop-shadow-[0_2px_6px_rgba(0,0,0,0.5)]

@media (max-width: 640px) {
  #education h3, #education p, #education ul {
    text-align: center;
  }
}

@media (max-width: 640px) {
  #experience div {
    text-align: center;
  }
}
@media (max-width: 480px) {
  #hero h1 {
    line-height: 1.2;
  }
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

html, body {
  overflow-x: hidden;   /* block ONLY horizontal movement */
  overflow-y: auto;     /* allow vertical scroll */
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  max-width: 100vw;     /* no element can expand beyond screen */
  box-sizing: border-box;
}



body {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
html, body {
  overflow-x: hidden;
}
